[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
MemoryCaptures/
Recorder/
[Aa]ssets/AssetStoreTools*
.collabignore
.plastic
.vs/
.vscode/
.DS_Store
*.apk
*.unitypackage
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.db
*.DS_Store
ExportedObj/
.plastic/
.idea/
*.csproj
*.sln
*.unityproj
*.swp
*.orig
*.bak
